<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pov">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".answervocabulary"></activity>
        <activity android:name=".answerfilltheverbs" />
        <activity android:name=".answeransthequestion" />
        <activity android:name=".qualificationvocabulary" />
        <activity android:name=".qualificationanswer" />
        <activity android:name=".qualificationfilltheverb" />
        <activity android:name=".qualificationlistenandread" />
        <activity android:name=".reportStudent" />
        <activity
            android:name=".InfoStudent"
            android:label="Info Student"
            android:parentActivityName=".Studentlist" />
        <activity
            android:name=".Studentlist"
            android:label="Student List" />
        <activity
            android:name=".PovQualification"
            android:label="POV Qualification" />
        <activity
            android:name=".menuTenses"
            android:label="Menu Tenses"
            android:parentActivityName=".lessons" />
        <activity
            android:name=".lessons"
            android:label="Lessons" />
        <activity
            android:name=".loginStudent"
            android:label="Login Student"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".loginTeacher"
            android:label="Login Teacher"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>