<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pov">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QualificationReport"
            android:label="Qualification Report"
            android:parentActivityName=".MenuTeacher"
            ></activity>
        <activity android:name=".MenuTeacher"
            android:label="Menu Teacher"
            />
        <activity android:name=".practiceVocabulary"
            android:label="Practice Vocabulary"
            android:parentActivityName=".menuVocabulary"
            />
        <activity android:name=".previewVocabulary"
            android:label="Preview Vocabulary"
            android:parentActivityName=".menuVocabulary"
            />
        <activity android:name=".qualificationfilltheverb"
            android:label="Qualification fill the verbs"
            />
        <activity android:name=".fillVerbs"
            android:label="Fill the verbs"
            android:parentActivityName=".menuActivities"
            />
        <activity android:name=".answerQuestions"
            android:label="Answer Questions"
            android:parentActivityName=".menuActivities"
            />
        <activity android:name=".listenRead"
            android:label=".Listen and Read"
            android:parentActivityName=".menuActivities"
            />
        <activity android:name=".qualificationStudent"
            android:label="Qualification Student"
            android:parentActivityName=".menuTenses"
            />
        <activity android:name=".reportStudent"
            android:label="Report Student"
            android:parentActivityName=".QualificationReport"
            />
        <activity
            android:name=".InfoStudent"
            android:label="Info Student"
            android:parentActivityName=".Studentlist" />
        <activity
            android:name=".Studentlist"
            android:label="Student List" />
        <activity
            android:name=".menuActivities"
            android:label="Menu Activities" />
        <activity
            android:name=".PovQualification"
            android:label="POV Qualification" />
        <activity
            android:name=".answerfilltheverbs"
            android:label="Answers" />
        <activity
            android:name=".answeransthequestion"
            android:label="Answers" />
        <activity
            android:name=".qualificationanswer"
            android:label="Qualification" />
        <activity
            android:name=".menuVocabulary"
            android:label="Vocabulary"
            android:parentActivityName=".menuTenses"/>
        <activity
            android:name=".menuTenses"
            android:label="Menu Tenses"
            android:parentActivityName=".lessons" />
        <activity
            android:name=".lessons"
            android:label="Lessons" />
        <activity
            android:name=".loginStudent"
            android:label="Login Student"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".loginTeacher"
            android:label="Login Teacher"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>