<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pov">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="English For All"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"><activity
        android:name=".lesson3_answerquestion_future"
        android:label="Asnqwer Question"
        android:parentActivityName=".lesson3_menu_activities_future" />
        <activity
            android:name=".lesson3_answerquestion_past"
            android:label="Answer Question"
            android:parentActivityName=".lesson3_menu_activities_past" />
        <activity
            android:name=".lesson3_answerquestion_present"
            android:label="Asnwer Question"
            android:parentActivityName=".lesson3_menu_activities_present" />
        <activity
            android:name=".lesson3_fillverbs_future"
            android:label="Fill The Verbs"
            android:parentActivityName=".lesson3_menu_activities_future" />
        <activity
            android:name=".lesson3_fillverbs_past"
            android:label="Fill The Verbs"
            android:parentActivityName=".lesson3_menu_activities_past" />
        <activity
            android:name=".lesson3_fillverbs_present"
            android:label="Fill The Verbs"
            android:parentActivityName=".lesson3_menu_activities_present" />
        <activity
            android:name=".lesson3_listenread_future"
            android:label="Listen and Read"
            android:parentActivityName=".lesson3_menu_activities_future" />
        <activity
            android:name=".lesson3_listenread_past"
            android:label="Listen and Read"
            android:parentActivityName=".lesson3_menu_activities_past" />
        <activity
            android:name=".lesson3_listenread_present"
            android:label="Listen and Read"
            android:parentActivityName=".lesson3_menu_activities_present" />
        <activity
            android:name=".lesson3_menu_activities_future"
            android:label="Menu Activities"
            android:parentActivityName=".lesson3_menu_tenses" />
        <activity
            android:name=".lesson3_menu_activities_present"
            android:label="Menu Activities"
            android:parentActivityName=".lesson3_menu_tenses" />
        <activity
            android:name=".lesson3_menu_activities_past"
            android:label="Menu Activities"
            android:parentActivityName=".lesson3_menu_tenses" />
        <activity
            android:name=".lesson3_answer_vocabulary"
            android:label="Answer Vocabulary"
            android:parentActivityName=".lesson3_menu_vocabulary" />

        <activity
            android:name=".lesson4_answerquestion_present"
            android:label="Anwer Question"
            android:parentActivityName=".lesson4_menu_activities_present" />
        <activity
            android:name=".lesson4_answerquestion_past"
            android:label="Answer Question"
            android:parentActivityName=".lesson4_menu_activities_past" />
        <activity
            android:name=".lesson4_answerquestion_future"
            android:label="Answer Question"
            android:parentActivityName=".lesson4_menu_activities_future" />
        <activity
            android:name=".lesson4_fillverbs_present"
            android:label="Fill The Verbs"
            android:parentActivityName=".lesson4_menu_activities_present" />
        <activity
            android:name=".lesson4_fillverbs_past"
            android:label="Fill The Verbs"
            android:parentActivityName=".lesson4_menu_activities_past" />
        <activity
            android:name=".lesson4_fillverbs_future"
            android:label="Fill The Verbs"
            android:parentActivityName=".lesson4_menu_activities_future" />
        <activity
            android:name=".lesson4_listenread_present"
            android:label="Listen and Read"
            android:parentActivityName=".lesson4_menu_activities_present" />
        <activity
            android:name=".lesson4_listenread_past"
            android:label="Listen and Read"
            android:parentActivityName=".lesson4_menu_activities_past" />
        <activity
            android:name=".lesson4_listenread_future"
            android:label="Listen and Read"
            android:parentActivityName=".lesson4_menu_activities_future" />
        <activity
            android:name=".lesson4_menu_activities_present"
            android:label="Menu Activities"
            android:parentActivityName=".lesson4_menu_tenses" />
        <activity
            android:name=".lesson4_menu_activities_past"
            android:label="Menu Activities"
            android:parentActivityName=".lesson4_menu_tenses" />
        <activity
            android:name=".lesson4_menu_activities_future"
            android:label="Menu Activities"
            android:parentActivityName=".lesson4_menu_tenses" />
        <activity
            android:name=".lesson4_answer_vocabulary"
            android:label="Answer Vocabulary"
            android:parentActivityName=".lesson4_menu_vocabulary" />
        <activity
            android:name=".lesson4_preview_vocabulary"
            android:label="Preview Vocabulary"
            android:parentActivityName=".lesson4_menu_vocabulary" />
        <activity
            android:name=".lesson4_menu_vocabulary"
            android:label="Menu Vokcabulary"
            android:parentActivityName=".lesson4_menu_tenses" />
        <activity
            android:name=".lesson4_menu_tenses"
            android:label="Menu Tenses"
            android:parentActivityName=".lessons" />

        <activity
            android:name=".lesson5_answerquestion_present"
            android:label="Answer The Question"
            android:parentActivityName=".lesson5_menu_activities_present" />
        <activity
            android:name=".lesson5_answerquestion_past"
            android:label="Answer The Question"
            android:parentActivityName=".lesson5_menu_activities_past" />
        <activity
            android:name=".lesson5_answerquestion_future"
            android:label="Answer The Question"
            android:parentActivityName=".lesson5_menu_activities_future" />
        <activity
            android:name=".lesson5_fillverbs_present"
            android:label="Till The Verbs"
            android:parentActivityName=".lesson5_menu_activities_present" />
        <activity
            android:name=".lesson5_fillverbs_past"
            android:label="Till The Verbs"
            android:parentActivityName=".lesson5_menu_activities_past" />
        <activity
            android:name=".lesson5_fillverbs_future"
            android:label="Till The Verbs"
            android:parentActivityName=".lesson5_menu_activities_future" />
        <activity
            android:name=".lesson5_listenread_present"
            android:label="Listen and Read"
            android:parentActivityName=".lesson5_menu_activities_present" />
        <activity
            android:name=".lesson5_listenread_past"
            android:label="Listen and Read"
            android:parentActivityName=".lesson5_menu_activities_past" />
        <activity
            android:name=".lesson5_listenread_future"
            android:label="Listen and Read"
            android:parentActivityName=".lesson5_menu_activities_future" />
        <activity
            android:name=".lesson5_menu_activities_present"
            android:label="Menu Activities"
            android:parentActivityName=".lesson5_menu_tenses" />
        <activity
            android:name=".lesson5_menu_activities_past"
            android:label="Menu Activities"
            android:parentActivityName=".lesson5_menu_tenses" />
        <activity
            android:name=".lesson5_menu_activities_future"
            android:label="Menu Activities"
            android:parentActivityName=".lesson5_menu_tenses" />
        <activity
            android:name=".lesson5_answer_vocabulary"
            android:label="Answer Vocabulary"
            android:parentActivityName=".lesson5_menu_vocabulary" />
        <activity
            android:name=".lesson5_preview_vocabulary"
            android:label="Preview Vocabulary"
            android:parentActivityName=".lesson5_menu_vocabulary" />
        <activity
            android:name=".lesson5_menu_vocabulary"
            android:label="Menu Vocabulary"
            android:parentActivityName=".lesson5_menu_tenses" />
        <activity
            android:name=".lesson5_menu_tenses"
            android:label="Menu Tenses"
            android:parentActivityName=".lessons" />







        <activity
            android:name=".lesson6_preview_vocabulary"
            android:label="Preview Vocabulary"
            android:parentActivityName=".lesson6_menu_vocabulary" />
        <activity
            android:name=".lesson6_menu_vocabulary"
            android:label="Menu Vocabulary"
            android:parentActivityName=".lesson6_menu_tenses" />
        <activity
            android:name=".lesson6_menu_tenses"
            android:label="Menu Tenses"
            android:parentActivityName=".lessons" />
        <activity
            android:name=".lesson6_menu_activities_present"
            android:label="Menu Activities"
            android:parentActivityName=".lesson6_menu_tenses" />

        <activity
            android:name=".lesson6_menu_activities_future"
            android:label="Menu Activities"
            android:parentActivityName=".lesson6_menu_tenses" />
        <activity
            android:name=".lesson6_listenread_present"
            android:label="Listen and Read"
            android:parentActivityName=".lesson6_menu_activities_present" />

        <activity
            android:name=".lesson6_listenread_future"
            android:label="Listen and Read"
            android:parentActivityName=".lesson6_menu_activities_future" />
        <activity
            android:name=".lesson6_fillverbs_present"
            android:label="Fill The Verbs"
            android:parentActivityName=".lesson6_menu_activities_present" />

        <activity
            android:name=".lesson6_fillverbs_future"
            android:label="Fill The Verbs"
            android:parentActivityName=".lesson6_menu_activities_future" />
        <activity
            android:name=".lesson6_answerquestion_present"
            android:label="Answer The Question"
            android:parentActivityName=".lesson6_menu_activities_present" />

        <activity
            android:name=".lesson6_answerquestion_future"
            android:label="Answer The Question"
            android:parentActivityName=".lesson6_menu_activities_future" />
        <activity
            android:name=".lesson6_answer_vocabulary"
            android:label="Answer Vocabulary"
            android:parentActivityName=".lesson6_menu_vocabulary" />


        <activity android:name=".lesson7_preview_vocabulary"
            android:label="Preview Vocabulary"
            android:parentActivityName=".lesson7_menu_vocabulary"/>
        <activity android:name=".lesson7_menu_vocabulary"
            android:label="Menu Vocabulary"
            android:parentActivityName=".lesson7_menu_tenses"/>
        <activity android:name=".lesson7_menu_tenses"
            android:label="Menu Tenses"
            android:parentActivityName=".lessons"/>
        <activity android:name=".lesson7_menu_activities_present"
            android:label="Menu Activities"
            android:parentActivityName=".lesson7_menu_tenses"/>

        <activity android:name=".lesson7_menu_activities_future"
            android:label="Menu Activities"
            android:parentActivityName=".lesson7_menu_tenses"/>
        <activity android:name=".lesson7_listenread_present"
            android:label="Listen and Read"
            android:parentActivityName=".lesson7_menu_activities_present"/>

        <activity android:name=".lesson7_listenread_future"
            android:label="Listen and Read"
            android:parentActivityName=".lesson7_menu_activities_future"/>
        <activity android:name=".lesson7_fillverbs_present"
            android:label="Fill The Verbs"
            android:parentActivityName=".lesson7_menu_activities_present"/>

        <activity android:name=".lesson7_fillverbs_future"
            android:label="Fill The Verbs"
            android:parentActivityName=".lesson7_menu_activities_future"/>
        <activity android:name=".lesson7_answerquestion_present"
            android:label="Answer The Question"
            android:parentActivityName=".lesson7_menu_activities_present"/>

        <activity android:name=".lesson7_answerquestion_future"
            android:label="Answer The Question"
            android:parentActivityName=".lesson7_menu_activities_future"/>
        <activity android:name=".lesson7_answer_vocabulary"
            android:label="Answer Vocabulary"
            android:parentActivityName=".lesson7_menu_vocabulary"/>

        <activity android:name=".lesson8_preview_vocabulary"
            android:label="Preview Vocabulary"
            android:parentActivityName=".lesson8_menu_vocabulary"></activity>
        <activity android:name=".lesson8_menu_vocabulary"
            android:label="Menu Vocabulary"
            android:parentActivityName=".lesson8_menu_tenses"/>
        <activity android:name=".lesson8_menu_tenses"
            android:label="Menu Tenses"
            android:parentActivityName=".lesson8_menu_tenses"/>
        <activity android:name=".lesson8_menu_activities_present"
            android:label="Menu Activities"
            android:parentActivityName=".lesson8_menu_tenses"/>

        <activity android:name=".lesson8_menu_activities_future"
            android:label="Menu Activities"
            android:parentActivityName=".lesson8_menu_tenses"/>
        <activity android:name=".lesson8_listenread_present"
            android:label="Listen and Read"
            android:parentActivityName=".lesson8_menu_activities_present"/>

        <activity android:name=".lesson8_listenread_future"
            android:label="Listen and Read"
            android:parentActivityName=".lesson8_menu_activities_future"/>
        <activity android:name=".lesson8_fillverbs_present"
            android:label="Fill The Verbs"
            android:parentActivityName=".lesson8_menu_activities_present"/>

        <activity android:name=".lesson8_fillverbs_future"
            android:label="Fill The Verbs"
            android:parentActivityName=".lesson8_menu_activities_future"/>
        <activity android:name=".lesson8_answerquestion_present"
            android:label="Answer The Question"
            android:parentActivityName=".lesson8_menu_activities_present"/>

        <activity android:name=".lesson8_answerquestion_future"
            android:label="Answer The Question"
            android:parentActivityName=".lesson8_menu_activities_future"/>
        <activity android:name=".lesson8_answer_vocabulary"
            android:label="Answer Vocabulary"
            android:parentActivityName=".lesson8_menu_vocabulary"/>






        <activity
            android:name=".lesson3_menu_vocabulary"
            android:label="Menu Vocabulary"
            android:parentActivityName=".lesson3_menu_tenses" />
        <activity
            android:name=".lesson3_menu_tenses"
            android:label="Menu Tenses"
            android:parentActivityName=".lessons" />

        <activity android:name=".Info_Teacher"></activity>
        <activity android:name=".lesson3_qualification_lesson" />
        <activity android:name=".lesson3_qualification_future" />
        <activity android:name=".lesson3_qualification_past" />
        <activity android:name=".lesson3_qualification_present" />
        <activity android:name=".lesson3_qualification_student" />
        <activity
            android:name=".Qualification_user_teacher"
            android:label="Qualifications Lesson"
            android:parentActivityName=".PovQualification" />
        <activity
            android:name=".lesson2_qualification_vocabulary"
            android:label="Qualification Present" />
        <activity
            android:name=".lesson2_qualification_student"
            android:label="Qualification Student"
            android:parentActivityName=".lesson2_menu_tenses" />
        <activity
            android:name=".lesson2_qualification_lesson"
            android:label="Qualification lesson" />
        <activity
            android:name=".lesson2_qualification_future"
            android:label="Qualification future" />
        <activity
            android:name=".lesson2_qualification_past"
            android:label="qualification past" />
        <activity
            android:name=".Info_Student"
            android:label="Information Student"
            android:parentActivityName=".lessons" />
        <activity
            android:name=".qualificationfuturelesson1"
            android:label="Qualification" />
        <activity android:name=".Splashactivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register"
            android:label="Register Student"
            android:parentActivityName=".MenuTeacher" />
        <activity
            android:name=".QualificationReport"
            android:label="Qualification Users"
            android:parentActivityName=".PovQualification" />
        <activity
            android:name=".lesson2_menu_tenses"
            android:label="Lesson 2"
            android:parentActivityName=".lessons" />
        <activity
            android:name=".lesson2_answerquestion_present"
            android:label="Answer and Questions"
            android:parentActivityName=".lesson2_menu_activities_present" />
        <activity
            android:name=".lesson2_answerquestion_past"
            android:label="Answer and Questions"
            android:parentActivityName=".lesson2_menu_activities_past" />
        <activity
            android:name=".lesson2_menu_activities_present"
            android:label="Activities"
            android:parentActivityName=".lesson2_menu_tenses" />
        <activity
            android:name=".lesson2_menu_activities_past"
            android:label="Activities"
            android:parentActivityName=".lesson2_menu_tenses" />
        <activity
            android:name=".lesson2_fillverbs_present"
            android:label="Fill Verbs"
            android:parentActivityName=".lesson2_menu_activities_present" />
        <activity
            android:name=".lesson2_fillverbs_past"
            android:label="Fill Verbs"
            android:parentActivityName=".lesson2_menu_activities_past" />
        <activity
            android:name=".lesson2_answer_vocabulary"
            android:label="Vocabulary"
            android:parentActivityName=".lesson2_menu_vocabulary" />
        <activity
            android:name=".lesson2_menu_vocabulary"
            android:label="Menu"
            android:parentActivityName=".lesson2_menu_tenses" />
        <activity
            android:name=".lesson2_listenread_present"
            android:label="Listen and Read"
            android:parentActivityName=".lesson2_menu_activities_present" />
        <activity
            android:name=".lesson2_listen_read_past"
            android:label="Listen and Read"
            android:parentActivityName=".lesson2_menu_activities_past" />
        <activity
            android:name=".lesson2_listenread_future"
            android:label="Listen and Read"
            android:parentActivityName=".lesson2_menu_activities_future" />
        <activity
            android:name=".lesson2_menu_activities_future"
            android:label="Menu"
            android:parentActivityName=".lesson2_menu_tenses" />
        <activity
            android:name=".lesson2_fillverbs_future"
            android:label="Fill Verbs"
            android:parentActivityName=".lesson2_menu_activities_future" />
        <activity
            android:name=".lesson2_answerquestion_future"
            android:label="Answer and Question"
            android:parentActivityName=".lesson2_menu_activities_future" />
        <activity
            android:name=".readingFutureL1"
            android:label="Listen and Read"
            android:parentActivityName=".menuFutureL1" />
        <activity
            android:name=".readingPastL1"
            android:label="Listen and Read"
            android:parentActivityName=".menuPastL1" />
        <activity
            android:name=".readingPresentL1"
            android:label="Listen and Read"
            android:parentActivityName=".menuActivities" />
        <activity
            android:name=".questionFutureL1"
            android:label="Answer and Question"
            android:parentActivityName=".menuFutureL1" />
        <activity
            android:name=".questionPastL1"
            android:label="Answer and Question"
            android:parentActivityName=".menuPastL1" />
        <activity
            android:name=".questionPresentL1"
            android:label="Answer and Question"
            android:parentActivityName=".menuActivities" />
        <activity
            android:name=".fillPastL1"
            android:label="Fill the Verbs"
            android:parentActivityName=".menuPastL1" />
        <activity
            android:name=".fillFutureL1"
            android:label="Fill the Verbs"
            android:parentActivityName=".menuFutureL1" />
        <activity
            android:name=".fillPresentL1"
            android:label="Fill the Verbs"
            android:parentActivityName=".menuActivities" />
        <activity
            android:name=".vocabularyL1"
            android:label="Vocabulary"
            android:parentActivityName=".menuVocabulary" />
        <activity
            android:name=".menuPastL1"
            android:label="Menu Activities"
            android:parentActivityName=".menuTenses" />
        <activity
            android:name=".menuFutureL1"
            android:label="Menu Activities"
            android:parentActivityName=".menuTenses" />
        <activity
            android:name=".MenuTeacher"
            android:label="Menu Teacher" />
        <activity
            android:name=".qualificationfilltheverb"
            android:label="Qualification fill the verbs" />
        <activity
            android:name=".qualificationlistenandread"
            android:label="Qualification "
            android:parentActivityName=".menuTenses" />
        <activity
            android:name=".qualificationvocabulary"
            android:label="Qualification" />
        <activity
            android:name=".qualificationStudent"
            android:label="Qualification Student"
            android:parentActivityName=".menuTenses" />
        <activity
            android:name=".reportStudent"
            android:label="Report Student"
            android:parentActivityName=".QualificationReport" />
        <activity
            android:name=".InfoStudent"
            android:label="Info Student"
            android:parentActivityName=".Studentlist" />
        <activity
            android:name=".Studentlist"
            android:label="Student List"
            android:parentActivityName=".MenuTeacher" />
        <activity
            android:name=".menuActivities"
            android:label="Menu Activities"
            android:parentActivityName=".menuTenses" />
        <activity
            android:name=".PovQualification"
            android:label="POV Lessons"
            android:parentActivityName=".MenuTeacher" />
        <activity
            android:name=".answerfilltheverbs"
            android:label="Answers" />
        <activity
            android:name=".answeransthequestion"
            android:label="Answers" />
        <activity
            android:name=".qualificationanswer"
            android:label="Qualification" />
        <activity
            android:name=".menuVocabulary"
            android:label="Vocabulary"
            android:parentActivityName=".menuTenses" />
        <activity
            android:name=".menuTenses"
            android:label="Menu Tenses"
            android:parentActivityName=".lessons" />
        <activity
            android:name=".lessons"
            android:label="Lessons" />
        <activity
            android:name=".loginStudent"
            android:label="Login Student"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".loginTeacher"
            android:label="Login Teacher"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>